<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Edit Student</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form (ngSubmit)="submitStudentForm()" #myForm="ngForm">
    <!-- Left block -->
    <mat-card>

      <!-- Name -->
      <mat-form-field>
        <input matInput placeholder="Student name" [(ngModel)]="student_name" id="student_name" name="student_name"
          minlength="3" required>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <input matInput placeholder="Student email" [(ngModel)]="student.student_email" id="student_email"
          name="student_email" minlength="3" required>
      </mat-form-field>

    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Date of birth -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" [(ngModel)]="student.dob"
            id="dob" name="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Gender -->
        <div class="misc-bottom-padding">
          <mat-label>Gender:</mat-label>
          <mat-select [(value)]="student.gender">
            <mat-option value="Hombre">Hombre</mat-option>
            <mat-option value="Mujer">Mujer</mat-option>
            <mat-option value="Otro">Otro</mat-option>
            <mat-option value="No especificado">No especificado</mat-option>
          </mat-select>
        </div>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-raised-button color="primary" [disabled]="myForm.form.invalid" type="submit">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>